# Configurações do banco de dados
# Para Docker Compose use: DB_HOST=postgres e DB_PORT=5432
# Para desenvolvimento local use: DB_HOST=localhost e DB_PORT=55432
DB_HOST=postgres
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=risk_register
DB_PORT=5432

# Configurações da aplicação
GIN_MODE=release
PORT=8080
