<div class="container-fluid py-5" data-bs-theme="dark">
  <div class="row justify-content-center">
    <div>
    <h2 class="text-center mb-4">Registros</h2>

      <!-- Card principal -->
      <div class="card border-0 shadow-lg rounded-3 bg-dark text-light mb-4">
        <div class="card-body p-4">
          <!-- Barra de pesquisa com estilo melhorado -->
<!--          <div class="mb-4">-->
<!--            <app-search-bar-->
<!--              (searchChanged)="filterRisks($event)"-->
<!--              class="d-block w-100">-->
<!--            </app-search-bar>-->
<!--          </div>-->

          <!-- Conteúdo principal -->
<!--          <ng-container *ngIf="!isLoading; else loadingTemplate">-->
            <div>
            @for (risk of filteredRisks(); track risk.uid) {
              <app-risk-card
                      [register]="risk"
                      (delete)="onDeleteRisk(risk.uid)"
                      (edit)="onEditRisk(risk.uid)"
                      class="mb-3 risk-card">
              </app-risk-card>
            }

            </div>
            @if (errorMessage) {
              <div class="alert alert-danger alert-dismissible fade show">
                <i class="bi bi-exclamation-triangle-fill me-2"></i>
                {{ errorMessage }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>

            }
<!--          </ng-container>-->

          <!-- Template de carregamento -->
<!--          <ng-template #loadingTemplate>-->
<!--            <div class="text-center py-5">-->
<!--              <div class="spinner-border text-info spinner-lg" role="status">-->
<!--                <span class="visually-hidden">Carregando...</span>-->
<!--              </div>-->
<!--              <p class="mt-3 text-light">Carregando registros...</p>-->
<!--            </div>-->
<!--          </ng-template>-->

          <!-- Template de nenhum risco -->
<!--          <ng-template #noRisksTemplate>-->
<!--            <div class="text-center py-5">-->
<!--              <i class="bi bi-search fs-1 text-secondary mb-3"></i>-->
<!--              <p class="lead text-light">Nenhum registro encontrado</p>-->
<!--              <p class="small text-secondary">Tente ajustar os critérios de busca ou adicione um novo registro</p>-->
<!--            </div>-->
<!--          </ng-template>-->
        </div>
      </div>
    </div>
  </div>
</div>
