:host {
  display: block;
  height: 100%;
}

// Inputs personalizados para reproduzir o estilo da imagem
.form-control {
  height: 3rem;

  &:focus {
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
    border-color: transparent;
    background-color: rgba(108, 117, 125, 0.3) !important;
  }

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
}

// Estilo do botão para combinar com a imagem
.btn-lg {
  height: 3rem;
  transition: all 0.2s;

  &:hover:not(:disabled) {
    background-color: #0b5ed7 !important;
  }

  &:disabled {
    opacity: 0.65;
  }
}
