<div class="container-fluid  bg-dark d-flex align-items-center justify-content-center p-3">
  <div class="card w-100 bg-dark text-white border-0 shadow" style="max-width: 400px;">
    <div class="card-body p-4">
      <h4 class="text-center mb-4">Gerenciamento de riscos</h4>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <input
            type="email"
            formControlName="email"
            class="form-control form-control-lg bg-secondary bg-opacity-25 text-white border-0"
            placeholder="Email"
            required>
        </div>

        <div class="mb-2">
          <input
            type="password"
            formControlName="password"
            class="form-control form-control-lg bg-secondary bg-opacity-25 text-white border-0"
            placeholder="Senha"
            required>
        </div>
        @if (errorMessage) {
          <div class="alert alert-danger">
            {{ errorMessage }}
          </div>
        }

        <button
          type="submit"
          class="btn btn-lg w-100 text-white fw-normal rounded-2 mt-3"
          style="background-color: #0d6efd;"
          [disabled]="loginForm.invalid || isLoading()">
            @if (isLoading()) {
                <span class="spinner-border spinner-border-sm me-2"></span>
            }
          Log in
        </button>
      </form>
    </div>
  </div>
</div>
